.m-4 {
  margin: 1rem
}

.border-\[16px\] {
  border-width: 16px
}

.border-green-300 {
  --tw-border-opacity: 1;
  border-color: rgba(110, 231, 183, var(--tw-border-opacity))
}

.p-4 {
  padding: 1rem
}
